PORT=4000
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/arcpay

FRONTEND_URL=http://localhost:3000

ARC_RPC_URL=https://rpc.testnet.arc.network
USDC_CONTRACT_ADDRESS=0x...   # USDC contract on Arc Testnet — get from Arc docs
ARC_EXPLORER_URL=https://explorer.testnet.arc.network